.product-wrapper{
    background-color: white;
    margin : 5px 0;
    display : flex;
    justify-content: center;
    width : auto;
}

.product-title{
    text-align: center;
    font-size: 26px;
    font-family: sans-serif;
    font-weight: bold;
    color : black;
}
.product-text{
    text-align: center;
    font-size: 16px;
    font-family : sans-serif;
    color : black;
}

.product-image{
    width : 400px;
    height : 380px;
    margin : 5%;
    margin-left : 10px;
}
.product-image img{
    padding : 0;
    border : 1 solid red;
}

.product-title-text {
    margin : 5%;
    margin-right : 0;
    padding : 10% 0;
}
